<h1>Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= article.title %>
    </li>
  <% end %>
</ul>

<div class="content text-center">
    </br></br>
    <a href="https://api.intra.42.fr/oauth/authorize?client_id=3390c897e9313d75feb7518f9aa8ea1024e200d81915588048d7b337f9758f57&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fcallback&response_type=code"><button type="button" class="btn btn-success">Log in</button></a></br></br>
</div>


