<html>
	<head>
		<title>Oauth2</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="content text-center">
			<h1>42 Espia</h1>
			<p>In Node JS by Iromero-</p>
			</br></br>
			<a href="https://api.intra.42.fr/oauth/authorize?client_id=3390c897e9313d75feb7518f9aa8ea1024e200d81915588048d7b337f9758f57&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fcallback&response_type=code"><button type="button" class="btn btn-success">Log in</button></a></br></br>
		</div>
	</body>
</html>
